{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 180,
  "tabWidth": 4,
  "semi": true,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf"
}
